.centerText {
  color: white;
  position: absolute;
  text-align: center;
  top: 56%;
  left: 51%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-shadow: 3px 3px black;
  z-index: 1;
 }

#connect {
  font-size: 65px;
   }

#universe {
  font-size: 23px; 
}

/* Styling for all the buttons */
.planet {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  position: absolute;
  font-size: 15px;
  color: black;
  font-weight: bold;
  border-color: black;
  border-width: 4px;
  z-index: 3;
  background-repeat: no-repeat;
}

/* Styling for individual buttons */
#portfolio {
  left: 47%;
  top: 21%;
  background-image: url("images/portfolioIcon.png");
  background-size: 100%;
}

#aboutMe {;
  left: 38%;
  top: 81%;
  background-image: url("images/aboutMeIcon.png");
  background-size: 90%;
}

#contactMe {
  left: 57%;
  top: 81%;
  background-image: url("images/pencilIcon.png");
  background-size: 110%;
}

#github {
  left: 27.5%;
  top: 47%;
  background-image: url("images/githubIcon.jpg");
  background-size: 100%;
}

#linkedIn {
  left: 66%;
  top: 47%;
  background-image: url("images/linkedinIcon.png");
  background-size: 100%;
}

/* Styling for the stars */
.star {
  position: absolute;
  border-color: black;
  z-index: 0;
}

#line1 {
  transform: rotate(65.8deg);
  top: 56.4%;
  left: 44%;
}

#line2 {
  transform: rotate(203deg);
  top: 67%;
  left: 33.3%;
}

#line3 {
  top: 55%;
  left: 34.5%;
}

#line4 {
  transform: rotate(336deg);
  top: 67%;
  left: 40.3%;
}

#line5 {
  transform: rotate(293.5deg);
  top: 56.6%;
  left: 35%;
}

/* Text styling for all the pages (Home, Portfolio, GitHub, etc.) */
.page {
  color: white;
  font-size: 30px;
  text-shadow: 2px 2px black;
}

/* Remove the underlining and color change from hyperlinks */
a, u {
  text-decoration: none;
  color: black;
}

/* Styling for the internal pages */
#portfolioPage {
  
}

#aboutMePage {
  display: flex;
  text-align: center;
  align-items: center;
  width: 50%;
}

#contactMePage {
  
}